.datatable{
    height: 600px;
    padding: 20px;
    overflow: scroll;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: grey;
        margin-bottom: 10px;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: #ffeb39;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #ffeb39;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            justify-content: flex-end;
        }
    }
}